.service-container{
   padding: 40px;
   background-color: rgba(0, 0, 0, 0.651);
}

 .cart {
   padding: 10px;
   height: 405px;
   border-radius: 5px;
   /* border: 1px solid gray; */
   margin-top: 10px;
   box-shadow: 0px 2px 1px 1px rgba(17, 10, 10, 0.397);
   background-color: rgba(0, 0, 0, 0.336);
 }
 .cart:hover{
   background-color: rgba(38, 99, 85, 0.445);
 }
 .cart img{
    width: 450px;
    height:250px
 }
 .text-area {
   text-align: center;
   /* background-color: rgb(131, 124, 124); */
  
 }