.header {
   background-image: url("https://en.ccunesco.ca/-/media/Images/Unesco/IdeaLab/2020/12/AI_Education/AIEducation.png?h=630&la=en&w=1200&hash=BA144B3839E2977C96AFA72F1267684D55EF35D0"),
     linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   height: 480px;
   width: 101%;
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .fixed{
  position: fixed;
  top: 5px;
  width: 100%;
 }
 .title {
   color: white;
   font-weight: bold;
   font-size: 59px;
   margin-top: 150px;
 }
 .name{
   color:rgb(86, 137, 231)
 }

 