.header {
   background-image: url("https://en.ccunesco.ca/-/media/Images/Unesco/IdeaLab/2020/12/AI_Education/AIEducation.png?h=630&la=en&w=1200&hash=BA144B3839E2977C96AFA72F1267684D55EF35D0"),
     linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   height: 780px;
   width: 100%;
   
   /* border: 1px solid red; */
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 .title {
   color: white;
   font-weight: bold;
   font-size: 59px;
 }
 .name{
   color:rgb(86, 137, 231)
 }
 .about-btn {
   background-color: #136847;
   outline: none;
   border: none;
   padding: 17px 34px;
   color: white;
 }
 