
 .name{
   color:rgb(86, 137, 231)
 }
 
 
 .footer-input {
   padding: 8px;
   border: none;
   outline: none;
   background-color: gray;
   color: white;
 }
 .footer-container {
   background-color: #191919;
   padding: 50px;
   color: rgb(216, 209, 209);
 }
 
 