.items {
   list-style: none;
   margin-right: 30px;
   font-size: 22px;
   font-weight: 500;
   color: rgb(12, 146, 30);
   cursor: pointer;
   padding: 5px;
   text-decoration: none;
  
   
 }
 .items:hover {
   color: rgb(5, 207, 221);
   background-color: rgba(128, 128, 128, 0.603);
   border-radius: 10px;
 }
 