.students{
   height: 980px;
   width: 101%;

 background-blend-mode: overlay;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 color: white;
 background-color: rgba(0, 0, 0, 0.466);
 
}
.input{
   width:300px;
   height: 40px;
   border-radius: 5px;
   margin: 0;
}
.my-btn{
   background-color: rgba(0, 0, 139, 0.753);
   color: white;
   margin: 0;
   height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  
}
.img{
   width: 400px;
   height: 400px;
   padding: 5px;
   margin: 20px;
}
.img:hover{
   background-color: blueviolet;
}